@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
}

header, main, .sign-up, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

body > * {
    padding-inline: clamp(50px, 16vw - 1rem, 250px);
}

main {
    justify-content: center;
    padding-bottom: clamp(40px, min(20vh, 9vw - 8px), 150px);
    padding-top: clamp(20px, min(10vh, 4.5vw - 6px), 70px);
    gap: 30px;
}

/* justify-content: center is overriden here */
body > header {
    justify-content: space-between;
}

.links > li {
    list-style-type: none;
}

.links {
    display: flex;
    gap: 1.5em;
}

.logo {
    width: 6.5rem;
    height: auto;
}

.content-image {
    width: max(40%, 350px);  
    height: auto;
}

.item > img {
    width: max(15vw, 15vh, 160px);
    height: auto;;
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: max(3.5vw, 3vh, 20px);
}

header, footer {
    height: 4.25em;
    width: 100%;
}

footer {
    justify-content: center;
}

header, footer, main {
    background-color: #1F2937;
}

.links a, .content .secondary-hero, footer {
    color: #E5E7EB;
    font-size: 1rem;
}

.content .hero {
    font-size: 2.5rem;
    font-weight: 900;
    color: #F9FAF8;
}

article {
    background-color: #E5E7EB;
    width: 100%;
    padding-top: clamp(40px, min(18vh, 7.5vw - 6px), 110px);
    padding-bottom: clamp(20px, min(10vh, 4.5vw - 6px), 70px);
    padding-inline: clamp(50px, 25vw, 425px);
}

.quote {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
}

.quote, .information-header {
    color: #1F2937;
}

.information-header {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    margin-bottom: clamp(20px, min(5vh, 4vw - 1.25rem), 40px);
}

button, .sign-up {
    color: white;
    background-color: #3882F6;
    border: solid #3882F6;
    padding: 0.35em 1.75em;
    border-radius: 6px;
}

.sign-up > button {
    border-color: white;
    border-width: 2px;
    margin-left: min(130px, 8vw - 5px);
}

.links a {
    text-decoration: none;
}

.quote-person {
    font-weight: 700;
    text-align: right;
    font-size: 1.1rem;
}

.members-section {
    padding-bottom: clamp(40px, min(18vh, 7.5vw - 6px), 110px);
    padding-top: clamp(20px, min(8vh, 4.5vw - 8px), 50px);
}

.sign-up {
    margin-block: clamp(40px, min(18vh, 7.5vw - 6px), 110px); 
    padding-block: 1.75em;
    padding-inline: clamp(30px, 6vw, 100px)
}

.sign-up-header {
    font-weight: 700;
}

.call-to-action-text {
    font-size: 0.85rem;
}

.content > button {
    margin-top: 1em;
}

button {
    font-size: 0.9rem;
}

.item > p{
    text-align: center;
    color: #1F2937;
    font-size: 1.1rem;
}

.links a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}


/* 
body * {
    outline: 2px solid red;
}

body {
    outline: 2px solid lime;
}
 */